body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
}

/* ---------------------------- Header/Nav */

header {
    height: 90px;
    line-height: 85px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #333333;
}

#logo-image {
    border: 2px solid #333333;
    border-radius: 10%;
}

#logo-image-link {
    display: inline-block;
}

header h2 {
    display: inline-block;
    font-size: 50px;
    margin: auto;
    vertical-align: middle;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 75px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: #333333;
}

nav a:hover, .active {
    border-bottom: 1px solid #333333;
}

/* ---------------------------- About */

.about {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.about h3 {
    border-bottom: 1px solid #333333;
    width: auto;
}

.about p {
    padding-bottom: 30px;
}

#join-button-container {
    text-align: center;
}

.btn-secondary-bg-color {
    background-color: #333333;
}

/* ---------------------------- Events */

#events {
    text-align: center;
    color: #dddddd;
}

#events h3 {
    margin-top: 20px;
    margin-bottom: 1px;
    color: #333333;
}

#events h4 {
    margin-bottom: 25px;
}

#events h5 {
    text-decoration: underline;
}
#events h5, #events h6, #events p {
    margin-left: 5px;
    margin-right: 5px;
}

.events-page-title-container {
    color: #333333;
    font-size: 22px;
    margin-top: 0;
}

.events-title-container {
    margin-top: 1rem;
}

.events-background-image-container {
    background-image: url("../images/events-background-image.jpg");
    background-size: cover;
    background-position: center;
}


.events-background-wrapper {
    background-color: rgba(15,15,15,0.7);
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.holiday-background {
    border: 1px solid white;
    color: white;
    background-color: #C30F16;
}

/* ---------------------------- Gallery */

#gallery img {
    width: 100%;
    height: auto;
}

/* ---------------------------- Footer */

footer {
    height: 90px;
    line-height: 85px;
    width: 100%;
    background-color: white;
    border-top: 2px solid #333333;
    display: flex;
    justify-content: center;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0px 30px;
}

footer a {
    text-decoration: none;
    color: #333333;
    font-size: 25px;
}

footer a:hover {
    border-bottom: 1px solid #333333;
}

/* ---------------------------- Spacing */

#page-spacing-middle, #page-spacing-bottom {
    height: 50px;
    width: 100%;
}

.page-spacing-events {
    height: 20px;
    width: 100%;
}

.page-spacing-events-bottom {
    height: 40px;
    width: 100%;
}

/* ---------------------------- Images */

#logo-image {
    height: 75px;
    width: 75px;
    margin: 4px;
}

.drone-images {
    width: 100%;
    height: auto;
    clear: both;
    margin-bottom: 10px;
}

#tall-image {
    display: none;
}

.center-image {
    text-align: center;
}

/* ---------------------------- Media Queries */

@media only screen and (max-width: 1400px) {
    nav li {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    header h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 992px) {
    #tall-image {
        display: block;
    }

    #wide-image {
        display: none;
    }

    nav {
        text-align: center;
    }

    .about p {
        margin-bottom: 0;
    }

    #page-spacing-top, #page-spacing-middle {
        height: 20px;
    }

    .footer-link-text {
        display: none;
    }
}

@media only screen and (max-width: 865px) {
    header {
        height: 180px;
        line-height: 85px;
    }

    #logo-image {
        height: 50px;
        width: 50px;
    }

    #tall-image {
        display: block;
    }

    #wide-image {
        display: none;
    }

    nav {
        float: left;
        text-align: center;
    }

    #page-spacing-top, #page-spacing-middle {
        height: 20px;
    }
}

@media only screen and (max-width: 576px) {
    header {
        height: 120px;
        line-height: 55px;
    }

    header h2 {
        font-size: 22px;
    }

    #logo-image {
        height: 50px;
        width: 50px;
    }

    nav {
        float: left;
    }

    nav a {
        font-size: 15px;
    }

    footer li {
        margin: 0 15px;
    }
}
