body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* ---------------------------- Header/Nav */

header {
    height: 90px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #333333;
}

#logo-image-link {
    display: inline-block;
}

header h2 {
    display: inline-block;
    font-size: 48px;
    margin: auto;
    vertical-align: middle;
}

.header-left {
    text-align: left;
    line-height: 85px;
}

.header-right {
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0;
    line-height: 85px;
}

nav li {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: #333333;
}

nav a:hover, .active {
    border-bottom: 1px solid #333333;
}

/* ---------------------------- About */

.about {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.about h3 {
    border-bottom: 1px solid #333333;
    width: auto;
    margin-top: 20px;
}

.about p {
    padding-bottom: 30px;
}

#join-button-container {
    text-align: center;
}

.btn-secondary-bg-color {
    background-color: #333333;
}

.about p {
    font-size: 20px;
}

.who-txt {
    text-align: right;
}

.what-txt {
    text-align: left;
}

.why-txt {
    text-align: right;
}

#join-button {
    font-size: 22px;
}

/* ---------------------------- Events */

#events {
    text-align: center;
    color: #dddddd;
}

#events h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 30px;
}

#events h4 {
    margin-bottom: 25px;
}

#events h5 {
    text-decoration: underline;
}
#events h5, #events h6, #events p {
    margin-left: 5px;
    margin-right: 5px;
}

.events-page-title-container {
    font-size: 22px;
    margin-top: 0;
}

.events-title-container {
    margin-top: 1rem;
}

.events-background-image-container {
    background-image: url("../images/events-background-image.jpg");
    background-size: cover;
    background-position: center;
}


.events-background-wrapper {
    background-color: rgba(15,15,15,0.8);
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.holiday-background {
    border: 1px solid white;
    color: white;
    background-color: #C30F16;
}

/* ---------------------------- Gallery */

/* Masonry styling of gallery images taken from Code Institute Love Running HTML/CSS project */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#gallery img {
    width: 100%;
}

/* ---------------------------- Join */

.join-background-image {
    background-image: url("../images/join-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#join h3 {
    font-size: 40px;
    margin-bottom: 50px;
    width: auto;
}

.join-background-opacity-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(221,221,221,0.2)
}

.join-left {
    text-align: right;
    margin-right: 5px
}

.join-right {
    text-align: left;
    margin-left: 5px;
}

form button {
    margin-left: 5px;
    margin-right: 5px;
}

form label {
    font-weight: bold;
}

/* ---------------------------- Footer */

footer {
    height: 90px;
    line-height: 85px;
    width: 100%;
    background-color: white;
    border-top: 2px solid #333333;
    display: flex;
    justify-content: center;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0px 30px;
}

footer a {
    text-decoration: none;
    color: #333333;
    font-size: 25px;
}

footer a:hover {
    border-bottom: 1px solid #333333;
}

/* ---------------------------- Spacing */

#page-spacing-middle, #page-spacing-bottom {
    height: 50px;
    width: 100%;
}

.page-spacing-events {
    height: 20px;
    width: 100%;
}

.page-spacing-events-bottom {
    height: 70px;
    width: 100%;
}

.page-spacing-join {
    height: 15vh;
    width: 100%;
}

.page-spacing-join-middle {
    height: 30px;
    width: 100%;
}

.page-spacing-join-bottom {
    height: 40vh;
    width: 100%;
}

/* ---------------------------- Images */

#logo-image {
    height: 55px;
    width: 55px;
    margin: 4px;
    margin-left: 12px;
}

.about-img {
    height: 150px;
    width: 150px;
    border: 1px solid #333333;
    border-radius: 50%;
}

.drone-images {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#tall-image {
    display: none;
}

.center-image {
    text-align: center;
}

.about-img {
    margin-bottom: 20px;
}

/* ---------------------------- Media Queries */

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
    header h2 {
        font-size: 35px;
    }

    #logo-image {
        height: 40px;
        width: 40px;
    }

    #gallery {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0px;
    }
}

@media only screen and (max-width: 992px) {
    #tall-image {
        display: block;
    }

    #wide-image {
        display: none;
    }

    header {
        height: 150px;
        line-height: 85px;
    }

    #logo-image {
        margin-left: 0;
    }

    header ul {
        line-height: 40px;
    }

    .header-left, .header-right {
        text-align: center;
    }

    .who-txt, .what-txt, .why-txt {
        text-align: center;
    }

    #page-spacing-top, #page-spacing-middle {
        height: 20px;
    }

    .footer-link-text {
        display: none;
    }
}

@media only screen and (max-width: 865px) {

    #tall-image {
        display: block;
    }

    #wide-image {
        display: none;
    }

    #page-spacing-top, #page-spacing-middle {
        height: 20px;
    }

    #gallery {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 0px;
    }
}

@media only screen and (max-width: 576px) {
    header {
        height: 90px;
        line-height: 40px;
    }

    .header-left {
        line-height: 40px;
    }

    header h2 {
        font-size: 22px;
    }

    #logo-image {
        height: 26px;
        width: 26px;
    }

    nav a {
        font-size: 15px;
    }

    footer li {
        margin: 0 15px;
    }

    #gallery {
        clear: both;
        line-height: 0;
        column-count: 1;
        column-gap: 0px;
    }
}
