body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
}

/* ---------------------------- Header/Nav */

header {
    height: 90px;
    line-height: 90px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #333333;
}

#logo-image-link {
    display: inline-block;
}

header h2 {
    display: inline-block;
    font-size: 50px;
    margin: auto;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 75px;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: #333333;
}

nav a:hover, .active {
    border-bottom: 1px solid #333333;
}

/* ---------------------------- Drone images */

#drone-images {
    clear: both;
}

/* ---------------------------- About */

.about {
    margin-left: 5vw;
    margin-right: 5vw;
}

/* ---------------------------- Footer */

footer {
    height: 90px;
    line-height: 90px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #333333;
    display: flex;
    justify-content: center;
}

footer li {
    display: inline-block;
    margin: 0px 30px;
}

footer a {
    text-decoration: none;
    color: #333333;
    font-size: 25px;
}

footer a:hover {
    border-bottom: 1px solid #333333;
}

/* ---------------------------- Spacing */

#page-spacing-top, #page-spacing-middle, #page-spacing-bottom {
    height: 75px;
    width: 100%;
}

/* ---------------------------- Images */

#logo-image {
    height: 75px;
    width: 75px;
    margin: 4px;
}

.drone-images {
    width: 100%;
    height: auto;
}

/* ---------------------------- Media Queries */

@media only screen and (max-width: 1300px) {
    nav li {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 1100px) {
    header h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 865px) {
    header {
        height: 180px;
        line-height: 90px;
    }

    #logo-image {
        height: 50px;
        width: 50px;
    }

    nav {
        float: left;
    }
}

@media only screen and (max-width: 768px) {

}
